{% extends 'sfr/base.html' %}

{% block content %}
<div class="addface-block">
	<form action="{% url 'test' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<div style="text-align: center">
            <button type="submit" class="c-button"> Проверить </button>
        </div>
	</form>
	{% if result %}
            <h1 align="center"> Результат: {{ result.name }} </h1>
	{% else %}
			<h1 align="center"> Результат: не разпознано </h1>
	{% endif %}

</div>
{% endblock %}